

/* 1.php */

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    color: #333;
}

form {
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
    border-radius: 5px;
}

input[type="text"],
input[type="date"],
select {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

select {
    appearance: none;
}

label {
    display: block;
    text-align: left;
    margin: 10px 0;
}

button[type="submit"] {
    background-color: #0074d9;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#openUniversityPopup,
#openSkillsPopup {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
}

#universityPopup,
#skillsPopup {
    display: none;
}


